<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>My Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-recipes *ngIf="!cargando" [recipes]="recipesSaved"></app-recipes>

  <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading"> Cargando </h4>
    <p>
      <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p clas="mb-0">
      Espere por favor
    </p>
  </div>

</ion-content>
