<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="align-content">
  <form [formGroup]="editForm" (ngSubmit)="editProfile()">
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="floating">Name</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="floating"> Email</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="margin-top">
        <ion-col>
          <ion-button type="submit" shape="round" color="greenblue"> 
            Edit User
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

</ion-content>
