<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="align-content">
  <form [formGroup]="calculateBMIForm" (ngSubmit)="calculateBMI()">
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="floating">Weight in kilos</ion-label>
            <ion-input formControlName="weight" type="number" placeholder="70"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="floating">Height in meters</ion-label>
            <ion-input formControlName="height" type="number" placeholder="1.65"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="margin-top">
        <ion-col>
          <ion-button type="submit" shape="round" color="greenblue"> 
            Calculate BMI
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

</ion-content>
